AI_PROVIDER="azure" # "openai" or "azure"
AZURE_OPENAI_API_KEY="" # REQUIRED: Your Azure OpenAI API Key.
AZURE_OPENAI_API_VERSION="2024-10-01-preview"
AZURE_OPENAI_ENDPOINT="https://openai-yadice.openai.azure.com/"
AZURE_OPENAI_DEPLOYMENT_ID="gpt-realtime-mini"
OPENAI_API_KEY=your_api_key